@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- body -->
<body class="main-layout inner_page">
    
   
    <!-- end banner -->
    <!-- about -->
    <div class="about">
        <div class="container">
            <div class="row d_flex">
                <div class="col-md-6">
                    <div class="titlepage text_align_left">
                        <h2>About Our Honey</h2>
                        <p>
                            Pure, healthy Organic Honey is the pride of Nature's Nectar. 
                            This mineral-rich, raw, unprocessed honey is hand-harvested from the pristine 
                            tropical forests of Sunderbans and meets all international standards. Nature's 
                            Nectar Select Organic Honey is rigorously tested for traces of antibiotics, pesticides, 
                            and environmental contaminants. Our natural honey undergoes stringent packing standards 
                            to preserve its unique flavour, enzymes and nutritional values.
                        </p>
                        <a class="read_more" href="about.html">Read More</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about_img text_align_center">
                        <figure><img class="img_responsive" src="~/images/banner_img.png" alt="#" /></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end about -->
    
    
</body>